/.vs/AST_Automation/FileContentIndex/7a9756ed-f3e7-45df-b545-9a2734ccdc4b.vsidx
/.vs/AST_Automation/FileContentIndex/ae90e3cd-ef89-409e-b880-b81c1c80b57d.vsidx
/.vs/AST_Automation/FileContentIndex/5f0768d2-83a7-43ff-839f-24d1c29c1d33.vsidx
/.vs/AST_Automation/FileContentIndex/8e5579b8-d7fe-46f1-89f0-edca47ef59c6.vsidx
/.vs/AST_Automation/FileContentIndex/cd1d481a-211d-445e-bdc3-632d905b6c1d.vsidx
/.vs/AST_Automation/FileContentIndex/fd4e9b57-6159-4418-b8b2-225d837dc365.vsidx
/.vs/AST_Automation/FileContentIndex/1e0e4f1c-4b78-44ae-9fdb-16c45be9ef5b.vsidx
/.vs/AST_Automation/FileContentIndex/acf58a4d-6d4c-4eaf-8895-8c36d0ff120a.vsidx
*.log
AST_Automation/bin
Infra/bin
/AST_Automation/obj/x64/Debug/AST_Automation.csproj.AssemblyReference.cache
/AST_Automation/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/AST_Automation/FileContentIndex/4f4084c2-23c3-4711-96dd-76102a86dc63.vsidx
/.vs/AST_Automation/FileContentIndex/763424b2-6a2d-4d51-ba1f-57107969d4cb.vsidx
/.vs/AST_Automation/v17/.suo
/AST_Automation/AST_Automation.csproj
/AST_Automation/AST_Automation.csproj.user
/AST_Automation/obj/x64/Debug/AST_Automation.csproj.CoreCompileInputs.cache
/AST_Automation/obj/x64/Debug/AST_Automation.dll
/AST_Automation/obj/x64/Debug/AST_Automation.pdb
/Infra/obj/x64/Debug/Infra.csproj.AssemblyReference.cache
/Infra/obj/x64/Debug/Infra.dll
/Infra/obj/x64/Debug/Infra.pdb
/.vs/AST_Automation/v17/.suo
/AST_Automation/AST_Automation.csproj
/AST_Automation/obj/x64/Debug/AST_Automation.csproj.CoreCompileInputs.cache
/AST_Automation/obj/x64/Debug/AST_Automation.dll
/AST_Automation/obj/x64/Debug/AST_Automation.pdb
/Infra/obj/x64/Debug/Infra.dll
/Infra/obj/*
/DataManagement/obj/*/
/DataManagement/bin/*/
/AST_Automation/obj/*/
/AST_Automation/bin/*/
/Infra/obj/x64/Debug/Infra.pdb
/.vs/AST_Automation/v17/.suo
/AST_Automation/obj/x64/Debug/AST_Automation.dll
/AST_Automation/obj/x64/Debug/AST_Automation.pdb
/Infra/obj/x64/Debug/Infra.dll
/Infra/obj/x64/Debug/Infra.pdb
/.vs/AST_Automation/v17/TestStore/0/000.testlog
/.vs/
/.vs/AST_Automation/
/.vs/*
/APIs/obj/*/
/APIs/bin/*/
/GUI/bin/*
/GUI/obj/*
/.vs/AST_Automation/*
/.vs/AST_Automation/FileContentIndex/93825672-d79c-41c0-aabf-73ed02a218e6.vsidx
/.vs/AST_Automation/FileContentIndex/a319893f-1a4e-425d-8077-9fe097a48469.vsidx
/.vs/AST_Automation/FileContentIndex/3459b20f-c2e7-4742-a51a-73ea222db852.vsidx
/.vs/AST_Automation/FileContentIndex/7861c0fd-012c-4f29-b961-5fad68c375b2.vsidx
/.vs/AST_Automation/FileContentIndex/8b14d30f-9c87-4e4b-b827-c67faa39787a.vsidx
/.vs/AST_Automation/FileContentIndex/daf51167-5335-435a-8207-129c12733c47.vsidx
/.vs/AST_Automation/FileContentIndex/06cafce0-2833-452f-82c9-eafd949a58f5.vsidx
/.vs/AST_Automation/FileContentIndex/40fdf10c-cc21-4f47-b39b-fc8ecded3768.vsidx
/.vs/AST_Automation/FileContentIndex/4bfa7de2-d4af-429d-864d-0e9674a74830.vsidx
/.vs/AST_Automation/FileContentIndex/5c8f375e-be75-4900-91a8-0b113a14c29d.vsidx
/AST_Automation/obj/x64/Debug/AST_Automation.csproj.FileListAbsolute.txt
/Infra/obj/x64/Debug/Infra.csproj.CoreCompileInputs.cache
/Infra/obj/x64/Debug/Infra.csproj.FileListAbsolute.txt
/.vs/AST_Automation/FileContentIndex/2f94549e-9666-40e1-8a05-b0c7291cb522.vsidx
/.vs/AST_Automation/FileContentIndex/7306b8fd-844e-46f8-9582-d8447be8ad61.vsidx
/.vs/AST_Automation/FileContentIndex/ee0c940d-3d82-41ef-9698-d6c30224f3f1.vsidx
/.vs/AST_Automation/FileContentIndex/f6d63e38-b214-47f5-bcb3-33668e668a80.vsidx
/Infra/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache

.vs/AST_Automation/FileContentIndex/2eed5415-f90f-432f-9cf2-c2f7af131063.vsidx
.vs/AST_Automation/FileContentIndex/4823ba81-8fad-4efd-a688-fce3a3d662ac.vsidx
.vs/AST_Automation/FileContentIndex/75409f0e-1302-4150-8567-c4dcc454ab39.vsidx
.vs/AST_Automation/FileContentIndex/d790421b-d31c-4063-8fdc-9698d7e33ab6.vsidx
.vs/AST_Automation/v17/HierarchyCache.v1.txt
.vs/AST_Automation/v17/TestStore/0/002.testlog
AST_Automation/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
AST_Automation/obj/Debug/_IsIncrementalBuild
AST_Automation/obj/Debug/AST_Automation.csproj.AssemblyReference.cache
AST_Automation/obj/Debug/AST_Automation.csproj.CopyComplete
AST_Automation/obj/Debug/AST_Automation.csproj.CoreCompileInputs.cache
AST_Automation/obj/Debug/AST_Automation.csproj.FileListAbsolute.txt
AST_Automation/obj/Debug/AST_Automation.dll
AST_Automation/obj/Debug/AST_Automation.pdb
AST_Automation/obj/Debug/DesignTimeResolveAssemblyReferences.cache
AST_Automation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AST_Automation/obj/x64/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
AST_Automation/obj/x64/Debug/_IsIncrementalBuild
AST_Automation/obj/x64/Debug/DesignTimeResolveAssemblyReferences.cache
AST_Automation/obj/x86/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
AST_Automation/obj/x86/Debug/_IsIncrementalBuild
AST_Automation/obj/x86/Debug/AST_Automation.csproj.AssemblyReference.cache
AST_Automation/obj/x86/Debug/AST_Automation.csproj.CopyComplete
AST_Automation/obj/x86/Debug/AST_Automation.csproj.CoreCompileInputs.cache
AST_Automation/obj/x86/Debug/AST_Automation.csproj.FileListAbsolute.txt
AST_Automation/obj/x86/Debug/AST_Automation.dll
AST_Automation/obj/x86/Debug/AST_Automation.pdb
AST_Automation/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Infra/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Infra/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Infra/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Infra/obj/Debug/Infra.csproj.AssemblyReference.cache
Infra/obj/Debug/Infra.csproj.CoreCompileInputs.cache
Infra/obj/Debug/Infra.csproj.FileListAbsolute.txt
Infra/obj/Debug/Infra.dll
Infra/obj/Debug/Infra.pdb
Infra/obj/x64/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Infra/obj/x64/Debug/_IsIncrementalBuild
Infra/obj/x64/Debug/DesignTimeResolveAssemblyReferences.cache
Infra/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Infra/obj/x86/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Infra/obj/x86/Debug/_IsIncrementalBuild
Infra/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Infra/obj/x86/Debug/Infra.csproj.AssemblyReference.cache
Infra/obj/x86/Debug/Infra.csproj.CopyComplete
Infra/obj/x86/Debug/Infra.csproj.CoreCompileInputs.cache
Infra/obj/x86/Debug/Infra.csproj.FileListAbsolute.txt
Infra/obj/x86/Debug/Infra.dll
Infra/obj/x86/Debug/Infra.pdb
AST_Automation/obj/x64/Debug/build.force
/AST_Automation/obj/x64/Debug/AST_Automation.csproj.CopyComplete
Infra/obj/x64/Debug/Infra.csproj.CopyComplete
